<html>
<title>
    Recommender System
</title>
<body>
<h1>Recommender System</h1>
<form class="form-inline" method="POST" action="{{ url_for('recommend') }}">
    <div>
        <span>Select a user:</span>
        <select name="user">
        {% for user in users %}
        <option value= "{{user}}" SELECTED>{{user}}</option>"
        {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-default">Recommend</button>
</form>
<div>
    <span>Recommendation for user: </span><span>{{user_selected}}</span>
    <table border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th>Movie Id</th><th>Title</th>
        </tr>
        {% for item in recom_items %}
        <tr>
            <td>{{item[0]}}</td>
            <td>{{item[1]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
</body>
</html>
